.row {
	margin: 0px auto 20px; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.row .row {
	width: auto; margin-right: -10px; margin-left: -10px;
}
.row + .row {
	margin-top: 20px;
}
.row {
	position: relative; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
[class*='grid'] {
	position: relative; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
[class*='grid'] {
	margin: 0px; padding-right: 10px; padding-left: 10px; float: left;
}
[class*='grid'] .row {
	margin-bottom: 0px;
}
*[dir='rtl'] [class*='grid'] {
	float: right;
}
.col-5.row > .grid-1 {
	width: 20%;
}
.col-5.row > .grid-2 {
	width: 40%;
}
.col-5.row > .grid-3 {
	width: 60%;
}
.col-5.row > .grid-4 {
	width: 80%;
}
.col-5.row > .grid-5 {
	width: 100%;
}
.col-5.row > .grid-offset-1 {
	margin-left: 20%;
}
.col-5.row > .grid-offset-2 {
	margin-left: 40%;
}
.col-5.row > .grid-offset-3 {
	margin-left: 60%;
}
.col-5.row > .grid-offset-4 {
	margin-left: 80%;
}
.col-5.row > .grid-push-1 {
	left: 20%;
}
.col-5.row > .grid-push-2 {
	left: 40%;
}
.col-5.row > .grid-push-3 {
	left: 60%;
}
.col-5.row > .grid-push-4 {
	left: 80%;
}
.col-5.row > .grid-pull-1 {
	right: 20%;
}
.col-5.row > .grid-pull-2 {
	right: 40%;
}
.col-5.row > .grid-pull-3 {
	right: 60%;
}
.col-5.row > .grid-pull-4 {
	right: 80%;
}
.col-7.row > .grid-1 {
	width: 14.28%;
}
.col-7.row > .grid-2 {
	width: 28.57%;
}
.col-7.row > .grid-3 {
	width: 42.85%;
}
.col-7.row > .grid-4 {
	width: 57.14%;
}
.col-7.row > .grid-5 {
	width: 71.42%;
}
.col-7.row > .grid-6 {
	width: 85.71%;
}
.col-7.row > .grid-7 {
	width: 100%;
}
.col-7.row > .grid-offset-1 {
	margin-left: 14.28%;
}
.col-7.row > .grid-offset-2 {
	margin-left: 28.57%;
}
.col-7.row > .grid-offset-3 {
	margin-left: 42.85%;
}
.col-7.row > .grid-offset-4 {
	margin-left: 57.14%;
}
.col-7.row > .grid-offset-5 {
	margin-left: 71.42%;
}
.col-7.row > .grid-offset-6 {
	margin-left: 85.71%;
}
.col-7.row > .grid-push-1 {
	left: 14.28%;
}
.col-7.row > .grid-push-2 {
	left: 28.57%;
}
.col-7.row > .grid-push-3 {
	left: 42.85%;
}
.col-7.row > .grid-push-4 {
	left: 57.14%;
}
.col-7.row > .grid-push-5 {
	left: 71.42%;
}
.col-7.row > .grid-push-6 {
	left: 85.71%;
}
.col-7.row > .grid-pull-1 {
	right: 14.28%;
}
.col-7.row > .grid-pull-2 {
	right: 28.57%;
}
.col-7.row > .grid-pull-3 {
	right: 42.85%;
}
.col-7.row > .grid-pull-4 {
	right: 57.14%;
}
.col-7.row > .grid-pull-5 {
	right: 71.42%;
}
.col-7.row > .grid-pull-6 {
	right: 85.71%;
}
.col-10.row > .grid-1 {
	width: 10%;
}
.col-10.row > .grid-2 {
	width: 20%;
}
.col-10.row > .grid-3 {
	width: 30%;
}
.col-10.row > .grid-4 {
	width: 40%;
}
.col-10.row > .grid-5 {
	width: 50%;
}
.col-10.row > .grid-6 {
	width: 60%;
}
.col-10.row > .grid-7 {
	width: 70%;
}
.col-10.row > .grid-8 {
	width: 80%;
}
.col-10.row > .grid-9 {
	width: 90%;
}
.col-10.row > .grid-10 {
	width: 100%;
}
.col-10.row > .grid-offset-1 {
	margin-left: 10%;
}
.col-10.row > .grid-offset-2 {
	margin-left: 20%;
}
.col-10.row > .grid-offset-3 {
	margin-left: 30%;
}
.col-10.row > .grid-offset-4 {
	margin-left: 40%;
}
.col-10.row > .grid-offset-5 {
	margin-left: 50%;
}
.col-10.row > .grid-offset-6 {
	margin-left: 60%;
}
.col-10.row > .grid-offset-7 {
	margin-left: 70%;
}
.col-10.row > .grid-offset-8 {
	margin-left: 80%;
}
.col-10.row > .grid-offset-9 {
	margin-left: 90%;
}
.col-10.row > .grid-push-1 {
	left: 10%;
}
.col-10.row > .grid-push-2 {
	left: 20%;
}
.col-10.row > .grid-push-3 {
	left: 30%;
}
.col-10.row > .grid-push-4 {
	left: 40%;
}
.col-10.row > .grid-push-5 {
	left: 50%;
}
.col-10.row > .grid-push-6 {
	left: 60%;
}
.col-10.row > .grid-push-7 {
	left: 70%;
}
.col-10.row > .grid-push-8 {
	left: 80%;
}
.col-10.row > .grid-push-9 {
	left: 90%;
}
.col-10.row > .grid-pull-1 {
	right: 10%;
}
.col-10.row > .grid-pull-2 {
	right: 20%;
}
.col-10.row > .grid-pull-3 {
	right: 30%;
}
.col-10.row > .grid-pull-4 {
	right: 40%;
}
.col-10.row > .grid-pull-5 {
	right: 50%;
}
.col-10.row > .grid-pull-6 {
	right: 60%;
}
.col-10.row > .grid-pull-7 {
	right: 70%;
}
.col-10.row > .grid-pull-8 {
	right: 80%;
}
.col-10.row > .grid-pull-9 {
	right: 90%;
}
.col-12.row > .grid-1 {
	width: 8.33%;
}
.col-12.row > .grid-2 {
	width: 16.66%;
}
.col-12.row > .grid-3 {
	width: 25%;
}
.col-12.row > .grid-4 {
	width: 33.33%;
}
.col-12.row > .grid-5 {
	width: 41.66%;
}
.col-12.row > .grid-6 {
	width: 50%;
}
.col-12.row > .grid-7 {
	width: 58.33%;
}
.col-12.row > .grid-8 {
	width: 66.66%;
}
.col-12.row > .grid-9 {
	width: 75%;
}
.col-12.row > .grid-10 {
	width: 83.33%;
}
.col-12.row > .grid-11 {
	width: 91.66%;
}
.col-12.row > .grid-12 {
	width: 100%;
}
.col-12.row > .grid-offset-1 {
	margin-left: 8.33%;
}
.col-12.row > .grid-offset-2 {
	margin-left: 16.66%;
}
.col-12.row > .grid-offset-3 {
	margin-left: 25%;
}
.col-12.row > .grid-offset-4 {
	margin-left: 33.33%;
}
.col-12.row > .grid-offset-5 {
	margin-left: 41.66%;
}
.col-12.row > .grid-offset-6 {
	margin-left: 50%;
}
.col-12.row > .grid-offset-7 {
	margin-left: 58.33%;
}
.col-12.row > .grid-offset-8 {
	margin-left: 66.66%;
}
.col-12.row > .grid-offset-9 {
	margin-left: 75%;
}
.col-12.row > .grid-offset-10 {
	margin-left: 83.33%;
}
.col-12.row > .grid-offset-11 {
	margin-left: 91.66%;
}
.col-12.row > .grid-push-1 {
	left: 8.33%;
}
.col-12.row > .grid-push-2 {
	left: 16.66%;
}
.col-12.row > .grid-push-3 {
	left: 25%;
}
.col-12.row > .grid-push-4 {
	left: 33.33%;
}
.col-12.row > .grid-push-5 {
	left: 41.66%;
}
.col-12.row > .grid-push-6 {
	left: 50%;
}
.col-12.row > .grid-push-7 {
	left: 58.33%;
}
.col-12.row > .grid-push-8 {
	left: 66.66%;
}
.col-12.row > .grid-push-9 {
	left: 75%;
}
.col-12.row > .grid-push-10 {
	left: 83.33%;
}
.col-12.row > .grid-push-11 {
	left: 91.66%;
}
.col-12.row > .grid-pull-1 {
	right: 8.33%;
}
.col-12.row > .grid-pull-2 {
	right: 16.66%;
}
.col-12.row > .grid-pull-3 {
	right: 25%;
}
.col-12.row > .grid-pull-4 {
	right: 33.33%;
}
.col-12.row > .grid-pull-5 {
	right: 41.66%;
}
.col-12.row > .grid-pull-6 {
	right: 50%;
}
.col-12.row > .grid-pull-7 {
	right: 58.33%;
}
.col-12.row > .grid-pull-8 {
	right: 66.66%;
}
.col-12.row > .grid-pull-9 {
	right: 75%;
}
.col-12.row > .grid-pull-10 {
	right: 83.33%;
}
.col-12.row > .grid-pull-11 {
	right: 91.66%;
}
.clearfix::before {
	height: 0px; line-height: 0; display: table; content: "";
}
.row::before {
	height: 0px; line-height: 0; display: table; content: "";
}
[class*='grid']::before {
	height: 0px; line-height: 0; display: table; content: "";
}
.clearfix::after {
	height: 0px; line-height: 0; display: table; content: "";
}
.row::after {
	height: 0px; line-height: 0; display: table; content: "";
}
[class*='grid']::after {
	height: 0px; line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.row::after {
	clear: both;
}
[class*='grid']::after {
	clear: both;
}
.clear {
	clear: both;
}
[class*='row'].cleargutter > [class*='grid'] {
	padding-right: 0px; padding-left: 0px;
}
[class*='grid'].cleargutter {
	padding-right: 0px; padding-left: 0px;
}
[class*='row'].fullscreen {
	width: 100%;
}
[class*='row'].centered > [class*='grid'] {
	margin: 0px auto; float: none;
}
[class*='row'] > [class*='grid'].centered {
	margin: 0px auto; float: none;
}
[class*='row'].img-autofull > [class*='grid'] > img {
	width: 100%;
}
[class*='row'] [class*='grid'].img-autofull > img {
	width: 100%;
}
[class*='row'].form-autofull input {
	width: 100%; margin-bottom: 0px; float: none; min-width: 0px; box-sizing: border-box;
}
[class*='row'].form-autofull select {
	width: 100%; margin-bottom: 0px; float: none; min-width: 0px; box-sizing: border-box;
}
[class*='row'].form-autofull textarea {
	width: 100%; margin-bottom: 0px; float: none; min-width: 0px; box-sizing: border-box;
}
[class*='row'] [class*='grid'].form-autofull > input {
	width: 100%; margin-bottom: 0px; float: none; min-width: 0px; box-sizing: border-box;
}
[class*='row'] [class*='grid'].form-autofull > select {
	width: 100%; margin-bottom: 0px; float: none; min-width: 0px; box-sizing: border-box;
}
[class*='row'] [class*='grid'].form-autofull > textarea {
	width: 100%; margin-bottom: 0px; float: none; min-width: 0px; box-sizing: border-box;
}
