@font-face {
	font-family: 50miniicons;
	src: url(fonts/iconfont/50miniicons-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/50miniicons-iconfont.woff) format("woff"), url(fonts/iconfont/50miniicons-iconfont.ttf) format("truetype"), url(fonts/iconfont/50miniicons-iconfont.svg#50miniicons) format("svg");
}
@font-face {
	font-family: 80shades;
	src: url(fonts/iconfont/80shades-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/80shades-iconfont.woff) format("woff"), url(fonts/iconfont/80shades-iconfont.ttf) format("truetype"), url(fonts/iconfont/80shades-iconfont.svg#80shades) format("svg");
}
@font-face {
	font-family: 105loops;
	src: url(fonts/iconfont/105loops-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/105loops-iconfont.woff) format("woff"), url(fonts/iconfont/105loops-iconfont.ttf) format("truetype"), url(fonts/iconfont/105loops-iconfont.svg#105loops) format("svg");
}
@font-face {
	font-family: batch;
	src: url(fonts/iconfont/batch-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/batch-iconfont.woff) format("woff"), url(fonts/iconfont/batch-iconfont.ttf) format("truetype"), url(fonts/iconfont/batch-iconfont.svg#batch) format("svg");
}
@font-face {
	font-family: brandico;
	src: url(fonts/iconfont/brandico-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/brandico-iconfont.woff) format("woff"), url(fonts/iconfont/brandico-iconfont.ttf) format("truetype"), url(fonts/iconfont/brandico-iconfont.svg#brandico) format("svg");
}
@font-face {
	font-family: brankic1979;
	src: url(fonts/iconfont/brankic1979-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/brankic1979-iconfont.woff) format("woff"), url(fonts/iconfont/brankic1979-iconfont.ttf) format("truetype"), url(fonts/iconfont/brankic1979-iconfont.svg#brankic1979) format("svg");
}
@font-face {
	font-family: broccolidry;
	src: url(fonts/iconfont/broccolidry-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/broccolidry-iconfont.woff) format("woff"), url(fonts/iconfont/broccolidry-iconfont.ttf) format("truetype"), url(fonts/iconfont/broccolidry-iconfont.svg#broccolidry) format("svg");
}
@font-face {
	font-family: cuticons;
	src: url(fonts/iconfont/cuticons-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/cuticons-iconfont.woff) format("woff"), url(fonts/iconfont/cuticons-iconfont.ttf) format("truetype"), url(fonts/iconfont/cuticons-iconfont.svg#cuticons) format("svg");
}
@font-face {
	font-family: ecoico;
	src: url(fonts/iconfont/ecoico-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/ecoico-iconfont.woff) format("woff"), url(fonts/iconfont/ecoico-iconfont.ttf) format("truetype"), url(fonts/iconfont/ecoico-iconfont.svg#ecoico) format("svg");
}
@font-face {
	font-family: elusive;
	src: url(fonts/iconfont/elusive-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/elusive-iconfont.woff) format("woff"), url(fonts/iconfont/elusive-iconfont.ttf) format("truetype"), url(fonts/iconfont/elusive-iconfont.svg#elusive) format("svg");
}
@font-face {
	font-family: entypo;
	src: url(fonts/iconfont/entypo-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/entypo-iconfont.woff) format("woff"), url(fonts/iconfont/entypo-iconfont.ttf) format("truetype"), url(fonts/iconfont/entypo-iconfont.svg#entypo) format("svg");
}
@font-face {
	font-family: fia;
	src: url(fonts/iconfont/fia-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/fia-iconfont.woff) format("woff"), url(fonts/iconfont/fia-iconfont.ttf) format("truetype"), url(fonts/iconfont/fia-iconfont.svg#fia) format("svg");
}
@font-face {
	font-family: fig;
	src: url(fonts/iconfont/fig-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/fig-iconfont.woff) format("woff"), url(fonts/iconfont/fig-iconfont.ttf) format("truetype"), url(fonts/iconfont/fig-iconfont.svg#fig) format("svg");
}
@font-face {
	font-family: fige;
	src: url(fonts/iconfont/fige-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/fige-iconfont.woff) format("woff"), url(fonts/iconfont/fige-iconfont.ttf) format("truetype"), url(fonts/iconfont/fige-iconfont.svg#fige) format("svg");
}
@font-face {
	font-family: fis;
	src: url(fonts/iconfont/fis-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/fis-iconfont.woff) format("woff"), url(fonts/iconfont/fis-iconfont.ttf) format("truetype"), url(fonts/iconfont/fis-iconfont.svg#fis) format("svg");
}
@font-face {
	font-family: fontawesome;
	src: url(fonts/iconfont/fontawesome-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/fontawesome-iconfont.woff) format("woff"), url(fonts/iconfont/fontawesome-iconfont.ttf) format("truetype"), url(fonts/iconfont/fontawesome-iconfont.svg#fontawesome) format("svg");
}
@font-face {
	font-family: fontello;
	src: url(fonts/iconfont/fontello-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/fontello-iconfont.woff) format("woff"), url(fonts/iconfont/fontello-iconfont.ttf) format("truetype"), url(fonts/iconfont/fontello-iconfont.svg#fontello) format("svg");
}
@font-face {
	font-family: glyphicon;
	src: url(fonts/iconfont/glyphicon-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/glyphicon-iconfont.woff) format("woff"), url(fonts/iconfont/glyphicon-iconfont.ttf) format("truetype"), url(fonts/iconfont/glyphicon-iconfont.svg#glyphicon) format("svg");
}
@font-face {
	font-family: glyphicon-social;
	src: url(fonts/iconfont/glyphicon-social-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/glyphicon-social-iconfont.woff) format("woff"), url(fonts/iconfont/glyphicon-social-iconfont.ttf) format("truetype"), url(fonts/iconfont/glyphicon-social-iconfont.svg#glyphicon-social) format("svg");
}
@font-face {
	font-family: icomoon;
	src: url(fonts/iconfont/icomoon-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/icomoon-iconfont.woff) format("woff"), url(fonts/iconfont/icomoon-iconfont.ttf) format("truetype"), url(fonts/iconfont/icomoon-iconfont.svg#icomoon) format("svg");
}
@font-face {
	font-family: iconic;
	src: url(fonts/iconfont/iconic-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/iconic-iconfont.woff) format("woff"), url(fonts/iconfont/iconic-iconfont.ttf) format("truetype"), url(fonts/iconfont/iconic-iconfont.svg#iconic) format("svg");
}
@font-face {
	font-family: iconminia;
	src: url(fonts/iconfont/iconminia-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/iconminia-iconfont.woff) format("woff"), url(fonts/iconfont/iconminia-iconfont.ttf) format("truetype"), url(fonts/iconfont/iconminia-iconfont.svg#iconminia) format("svg");
}
@font-face {
	font-family: ligature;
	src: url(fonts/iconfont/ligature-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/ligature-iconfont.woff) format("woff"), url(fonts/iconfont/ligature-iconfont.ttf) format("truetype"), url(fonts/iconfont/ligature-iconfont.svg#ligature) format("svg");
}
@font-face {
	font-family: linecons;
	src: url(fonts/iconfont/linecons-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/linecons-iconfont.woff) format("woff"), url(fonts/iconfont/linecons-iconfont.ttf) format("truetype"), url(fonts/iconfont/linecons-iconfont.svg#linecons) format("svg");
}
@font-face {
	font-family: maki;
	src: url(fonts/iconfont/maki-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/maki-iconfont.woff) format("woff"), url(fonts/iconfont/maki-iconfont.ttf) format("truetype"), url(fonts/iconfont/maki-iconfont.svg#maki) format("svg");
}
@font-face {
	font-family: meteocons;
	src: url(fonts/iconfont/meteocons-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/meteocons-iconfont.woff) format("woff"), url(fonts/iconfont/meteocons-iconfont.ttf) format("truetype"), url(fonts/iconfont/meteocons-iconfont.svg#meteocons) format("svg");
}
@font-face {
	font-family: mfglabs;
	src: url(fonts/iconfont/mfglabs-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/mfglabs-iconfont.woff) format("woff"), url(fonts/iconfont/mfglabs-iconfont.ttf) format("truetype"), url(fonts/iconfont/mfglabs-iconfont.svg#mfglabs) format("svg");
}
@font-face {
	font-family: openwebicons;
	src: url(fonts/iconfont/openwebicons-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/openwebicons-iconfont.woff) format("woff"), url(fonts/iconfont/openwebicons-iconfont.ttf) format("truetype"), url(fonts/iconfont/openwebicons-iconfont.svg#openwebicons) format("svg");
}
@font-face {
	font-family: pictograms;
	src: url(fonts/iconfont/pictograms-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/pictograms-iconfont.woff) format("woff"), url(fonts/iconfont/pictograms-iconfont.ttf) format("truetype"), url(fonts/iconfont/pictograms-iconfont.svg#pictograms) format("svg");
}
@font-face {
	font-family: pictonic;
	src: url(fonts/iconfont/pictonic-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/pictonic-iconfont.woff) format("woff"), url(fonts/iconfont/pictonic-iconfont.ttf) format("truetype"), url(fonts/iconfont/pictonic-iconfont.svg#pictonic) format("svg");
}
@font-face {
	font-family: pictoniccube;
	src: url(fonts/iconfont/pictoniccube-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/pictoniccube-iconfont.woff) format("woff"), url(fonts/iconfont/pictoniccube-iconfont.ttf) format("truetype"), url(fonts/iconfont/pictoniccube-iconfont.svg#pictoniccube) format("svg");
}
@font-face {
	font-family: silkcons;
	src: url(fonts/iconfont/silkcons-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/silkcons-iconfont.woff) format("woff"), url(fonts/iconfont/silkcons-iconfont.ttf) format("truetype"), url(fonts/iconfont/silkcons-iconfont.svg#silkcons) format("svg");
}
@font-face {
	font-family: steadysets;
	src: url(fonts/iconfont/steadysets-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/steadysets-iconfont.woff) format("woff"), url(fonts/iconfont/steadysets-iconfont.ttf) format("truetype"), url(fonts/iconfont/steadysets-iconfont.svg#steadysets) format("svg");
}
@font-face {
	font-family: typicons;
	src: url(fonts/iconfont/typicons-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/typicons-iconfont.woff) format("woff"), url(fonts/iconfont/typicons-iconfont.ttf) format("truetype"), url(fonts/iconfont/typicons-iconfont.svg#typicons) format("svg");
}
@font-face {
	font-family: websymbols;
	src: url(fonts/iconfont/websymbols-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/websymbols-iconfont.woff) format("woff"), url(fonts/iconfont/websymbols-iconfont.ttf) format("truetype"), url(fonts/iconfont/websymbols-iconfont.svg#websymbols) format("svg");
}
@font-face {
	font-family: wpzoom;
	src: url(fonts/iconfont/wpzoom-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/wpzoom-iconfont.woff) format("woff"), url(fonts/iconfont/wpzoom-iconfont.ttf) format("truetype"), url(fonts/iconfont/wpzoom-iconfont.svg#wpzoom) format("svg");
}
@font-face {
	font-family: zocial;
	src: url(fonts/iconfont/zocial-iconfont.eot?#iefix) format("embedded-opentype"), url(fonts/iconfont/zocial-iconfont.woff) format("woff"), url(fonts/iconfont/zocial-iconfont.ttf) format("truetype"), url(fonts/iconfont/zocial-iconfont.svg#zocial) format("svg");
}
.iconfont {
	vertical-align: middle; display: inline-block;
}
.iconfont::before {
	line-height: inherit; font-size: inherit; font-style: normal; font-weight: normal; text-decoration: inherit; vertical-align: top; display: inline-block; content: attr(data-icon); speak: none;
}
.iconfont-50miniicons::before {
	font-family: "50miniicons";
}
.iconfont-80shades::before {
	font-family: "80shades";
}
.iconfont-105loops::before {
	font-family: "105loops";
}
.iconfont-batch::before {
	font-family: "batch";
}
.iconfont-brandico::before {
	font-family: "brandico";
}
.iconfont-brankic1979::before {
	font-family: "brankic1979";
}
.iconfont-broccolidry::before {
	font-family: "broccolidry";
}
.iconfont-cuticons::before {
	font-family: "cuticons";
}
.iconfont-ecoico::before {
	font-family: "ecoico";
}
.iconfont-elusive::before {
	font-family: "elusive";
}
.iconfont-entypo::before {
	font-family: "entypo";
}
.iconfont-fia::before {
	font-family: "fia";
}
.iconfont-fig::before {
	font-family: "fig";
}
.iconfont-fige::before {
	font-family: "fige";
}
.iconfont-fis::before {
	font-family: "fis";
}
.iconfont-fontawesome::before {
	font-family: "fontawesome";
}
.iconfont-fontello::before {
	font-family: "fontello";
}
.iconfont-glyphicon::before {
	font-family: "glyphicon";
}
.iconfont-glyphicon-social::before {
	font-family: "glyphicon-social";
}
.iconfont-icomoon::before {
	font-family: "icomoon";
}
.iconfont-iconic::before {
	font-family: "iconic";
}
.iconfont-iconminia::before {
	font-family: "iconminia";
}
.iconfont-ligature::before {
	font-family: "ligature";
}
.iconfont-linecons::before {
	font-family: "linecons";
}
.iconfont-maki::before {
	font-family: "maki";
}
.iconfont-meteocons::before {
	font-family: "meteocons";
}
.iconfont-mfglabs::before {
	font-family: "mfglabs";
}
.iconfont-openwebicons::before {
	font-family: "openwebicons";
}
.iconfont-pictograms::before {
	font-family: "pictograms";
}
.iconfont-pictonic::before {
	font-family: "pictonic";
}
.iconfont-pictoniccube::before {
	font-family: "pictoniccube";
}
.iconfont-silkcons::before {
	font-family: "silkcons";
}
.iconfont-steadysets::before {
	font-family: "steadysets";
}
.iconfont-typicons::before {
	font-family: "typicons";
}
.iconfont-websymbols::before {
	font-family: "websymbols";
}
.iconfont-wpzoom::before {
	font-family: "wpzoom";
}
.iconfont-zocial::before {
	font-family: "zocial";
}
