div#system-debug {
	clear: both;
}
#system-debug {
	padding: 5px; border: 1px dashed silver; border-image: none; text-align: left; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
#system-debug div.dbgHeader {
	border: 1px solid rgb(238, 238, 238); border-image: none; font-size: 16px; background-color: rgb(221, 221, 221);
}
#system-debug h3 {
	margin: 0px;
}
#system-debug a h3 {
	margin: 0px; padding: 5px; color: rgb(0, 0, 0); font-size: 14px; text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:hover {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:focus {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:active {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:link {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:visited {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:hover h3 {
	color: rgb(221, 221, 221); font-size: 14px; text-decoration: none; cursor: pointer; background-color: rgb(77, 77, 77);
}
#system-debug a:focus h3 {
	color: rgb(221, 221, 221); font-size: 14px; text-decoration: none; cursor: pointer; background-color: rgb(77, 77, 77);
}
#system-debug div.dbgContainer {
	padding: 10px;
}
#system-debug span.dbgCommand {
	color: blue; font-weight: bold;
}
#system-debug span.dbgTable {
	color: green; font-weight: bold;
}
#system-debug b.dbgOperator {
	color: red; font-weight: bold;
}
#system-debug h1 {
	margin: 0px; padding: 10px; color: rgb(255, 255, 255); line-height: 1em; font-size: 16px; background-color: rgb(44, 44, 44);
}
#system-debug h4 {
	margin: 5px 0px 0px; font-size: 14px; font-weight: bold;
}
#system-debug h5 {
	margin: 5px 0px 0px; font-size: 13px; font-weight: bold;
}
div#system-debug {
	margin: 5px;
}
#system-debug ol {
	text-align: left; margin-right: 25px; margin-left: 25px; direction: ltr;
}
#system-debug ul {
	list-style: none; text-align: left; direction: ltr;
}
#system-debug li {
	font-size: 13px; margin-bottom: 10px;
}
#system-debug code {
	text-align: left; font-size: 13px; direction: ltr;
}
#system-debug p {
	font-size: 13px;
}
#system-debug {
	padding: 10px; border: 1px dashed silver; border-image: none; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
#system-debug div.dbgHeader {
	border: 1px solid rgb(238, 238, 238); border-image: none; font-size: 16px; background-color: rgb(221, 221, 221);
}
#system-debug h3 {
	margin: 0px;
}
#system-debug a h3 {
	margin: 0px; padding: 5px; color: rgb(0, 0, 0); font-size: 14px; text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug .dbgerror a h3 {
	background-color: red;
}
#system-debug a:hover {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:focus {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:active {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:link {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:visited {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(221, 221, 221);
}
#system-debug a:hover h3 {
	color: rgb(221, 221, 221); font-size: 14px; text-decoration: none; cursor: pointer; background-color: rgb(77, 77, 77);
}
#system-debug a:focus h3 {
	color: rgb(221, 221, 221); font-size: 14px; text-decoration: none; cursor: pointer; background-color: rgb(77, 77, 77);
}
#system-debug div.dbgContainer {
	padding: 10px;
}
#system-debug span.dbgCommand {
	color: blue; font-weight: bold;
}
#system-debug span.dbgTable {
	color: green; font-weight: bold;
}
#system-debug b.dbgOperator {
	color: red; font-weight: bold;
}
#system-debug h1 {
	margin: 0px; padding: 10px; color: rgb(255, 255, 255); line-height: 1em; font-size: 16px; background-color: rgb(44, 44, 44);
}
#system-debug h4 {
	font-size: 14px; font-weight: bold;
}
#system-debug h5 {
	font-size: 13px; font-weight: bold; margin-top: 5px;
}
div#system-debug {
	margin: 5px;
}
#system-debug ol {
	margin-right: 25px; margin-left: 25px;
}
#system-debug ul {
	list-style: none;
}
#system-debug li {
	font-size: 13px; margin-bottom: 10px;
}
#system-debug code {
	text-align: left; font-size: 13px; direction: ltr;
}
#system-debug p {
	font-size: 13px;
}
#system-debug div.dbgerror.dbgHeader {
	background-color: red;
}
